.skills-list-item {
	box-sizing: border-box;

	&:after {
		content: attr(data-score);
		position: absolute;
		right: 9px;
		font-weight: 600;
		bottom: 50%;
		font-size: 25px;
		color: $lightest;
		transform: translateY(50%);
	}
}
