@mixin center() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin vport($viewport) {
	@media screen and (max-width: #{map-get($viewports, $viewport)}) {
		@content;
	}
}

@mixin outer-padding($top, $right) {
	padding: $top $right;

	@media only screen
		and (device-width: 375px)
		and (device-height: 812px)
		and (-webkit-device-pixel-ratio: 3)
		and (orientation: landscape) {
			padding: $top calc(env(safe-area-inset-right) + 10px);
		}
}
