.codepens {
	.pen {
		position: relative;

		&:not(:last-child) {
			margin-bottom: 40px;
		}

		&-JRPOpa{
			height: 752px;
		}

		&-PezyLJ{
			height: 780px;
		}

		&-jrqVXO{
			height: 450px;
		}

		&-title {
			display: none;
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 1;

			@include vport('medium') {
				@include tabLinkIcon($lightest);

				display: block;
			}
		}

		&-frame {
			position: relative;
			width: 100%;

			@include vport('medium') {
				height: 100%;
			}
		}

		@include vport('medium') {
			height: 420px;
		}

		@include vport('small') {
			height: 260px;

			&:not(:last-child) {
				margin-right: 0;
				margin-bottom: $barListSpacing;
			}
		}
	}
}
