.exp {
	.job-list {
		display: flex;
		padding-top: 22px;

		.job {
			width: 25%;
			position: relative;

			&:not(:last-child) {
				padding-right: 45px;

				.duration span{
					display: none;

					@include vport('small') {
						display: block;
					}
				}
			}

			&:before, &:after {
				content: '';
				position: absolute;
				background-color: black;
				left: 0;
			}

			&:before {
				width: 10px;
				height: 10px;
				top: -4px;
				border-radius: 1em;
			}

			&:after {
				width: 100%;
				height: 1px;
				top: 0;
				border-bottom: dotted 1px black;
				background-color: transparent;
			}

			.duration {
				font-size: 12px;
				text-transform: uppercase;
				position: relative;
				top: -18px;
				left: 13px;
			}

			.company {
				font-size: 15px;
				margin-top: 15px;
				font-weight: 600;
			}

			.title {
				font-size: 12px;
				margin-top: 5px;
				color: gray;
			}

			.description {
				font-size: 15px;
				margin-top: 20px;
				line-height: 20px;
			}
		}

		@include vport('medium') {
			flex-direction: column-reverse;
			flex-wrap: wrap;

			.job {
				width: 100%;
				padding-right: 0;

				&:not(:first-child) {
					padding-bottom: 30px;
				}
			}
		}
	}
}
