.skills {
	&-list {
		$color-list: (red, blue, green, yellow, purple, orange, pink, magenta, cyan, brown, beige, gray, navy);

		@for $i from 1 through length($color-list) {
			&:nth-child(#{$i}) .skills-list-name:before {
				$color: nth($color-list, $i);
				background-image: linear-gradient(to right, #{$color}, #{lighten($color, 20)});
			}
		}
	}

	&-list-name {
		display: inherit;
		padding: 18px 12px;
		position: relative;

		&:before, &:after {
			position: absolute;
		}

		&:before {
			content: '';
			bottom: 0;
			height: 1px;
			width: 100%;
		}

		&:after {
			content: ' ' attr(data-score);
			right: 10px;
		}
	}

}
