.skills {
	&-list-item:after {
		content: attr(data-score);
		position: absolute;
		right: 9px;
		font-weight: 200;
		bottom: 50%;
		font-size: 35px;
		color: $lightest;
		transform: translateY(50%);
	}
}
