<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
		<meta charset="UTF-8">
		<title>Miguel Zuleta</title>
		<link href="styles.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<main></main>
		<!-- <h2 class="test"></h2>
		<h2 class="test"></h2>
		<h2 class="test"></h2>
		<main>
			<div class="bg-wrap">
				<div class="bg-square"></div>
			</div>

			<header class="hero"></header>
			<section class="skills info"></section>
			<section class="exp info"></section>
			<section class="codepens info"></section>
			<section class="contact info"></section>
		</main> -->
		<script src="js.js" type="text/javascript"></script>
	</body>
</html>
